body{
    background-color: #2c3e50;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }


  /* //NAVBAR */

nav{
    position: relative;
    margin: 50px auto 0;
    width: 700px;
    height: 50px;
    background-color: #34495e;
    font-size: 0;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  }


  nav a{
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    line-height: 50px;
    
  }
  
  nav a:hover{
    color: #F7FF0C;
  }
  .hover-line::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #F7FF0C;
    transition: all .6s ease 0s;
    transition: width .3;
    
  }
  .hover-line:hover::after{
    width: 100%;
    transition: width .34s;
  }




/* //LOGIN / REGISTER*/

.authentic{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	font-family: 'Jost', sans-serif;
}

.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.5em;
	justify-content: center;
	display: flex;
	margin: 55px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 32px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 15px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 7px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}


/* //FORM PER CREAZIONE APPUNTAMENTO */
*, *:before, *:after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  .body1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 1.4px;
  }
  
  .background {
	display: flex;
	min-height: 70vh;
  }
  
  .container1 {
	flex: 0 1 700px;
	margin: auto;
	padding: 10px;
  }
  
  .screen {
	position: relative;
	background: #3e3e3e;
	border-radius: 15px;
  }
  
  .screen:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;
	bottom: 0;
	border-radius: 15px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
	z-index: -1;
  }
  
  .screen-header {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background: #4d4d4f;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
  }
  
  .screen-header-left {
	margin-right: auto;
  }
  
  .screen-header-button {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-right: 3px;
	border-radius: 8px;
	background: white;
  }
  
  .screen-header-button.close {
	background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
	background: #e8e925;
  }
  
  .screen-header-button.minimize {
	background: #74c54f;
  }
  
  .screen-header-right {
	display: flex;
  }
  
  .screen-header-ellipsis {
	width: 3px;
	height: 3px;
	margin-left: 2px;
	border-radius: 8px;
	background: #999;
  }
  
  .screen-body {
	display: flex;
  }
  
  .screen-body-item {
	flex: 1;
	padding: 50px;
  }
  
  .screen-body-item.left {
	display: flex;
	flex-direction: column;
  }
  
  .app-title {
	display: flex;
	flex-direction: column;
	position: relative;
	color: #ea1d6f;
	font-size: 26px;
  }
  
  .app-title:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 25px;
	height: 4px;
	background: #ea1d6f;
  }
  
  .app-contact {
	margin-top: auto;
	font-size: 8px;
	color: #888;
  }
  
  .app-form-group {
	margin-bottom: 15px;
  }
  
  .app-form-group.message {
	margin-top: 40px;
  }
  
  .app-form-group.buttons {
	margin-bottom: 0;
	text-align: right;
  }
  
  .app-form-control {
	width: 100%;
	padding: 10px 0;
	background: none;
	border: none;
	border-bottom: 1px solid #666;
	color: #ddd;
	font-size: 14px;
	text-transform: uppercase;
	outline: none;
	transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
	color: #666;
  }
  
  .app-form-control:focus {
	border-bottom-color: #ddd;
  }
  
  .app-form-button {
	background: none;
	border: none;
	color: #ea1d6f;
	font-size: 14px;
	cursor: pointer;
	outline: none;
  }
  
  .app-form-button:hover {
	color: #b9134f;
  }
  
  .dribbble {
	width: 20px;
	height: 20px;
	margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
	.screen-body {
	  flex-direction: column;
	}
  
	.screen-body-item.left {
	  margin-bottom: 30px;
	}
  
	.app-title {
	  flex-direction: row;
	}
  
	.app-title span {
	  margin-right: 12px;
	}
  
	.app-title:after {
	  display: none;
	}
  }
  
  @media screen and (max-width: 600px) {
	.screen-body {
	  padding: 40px;
	}
  
	.screen-body-item {
	  padding: 0;
	}
  }
  

  /* //INDEX */
  #customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00000084;
  color: white;
}